# Virtual Environment
.venv/
venv/
env/
ENV/

# Python cache
**/__pycache__/
*.py[cod]

# Distribution / packages
dist/
build/
*.egg-info/
.DS_Store


# Ignore all files in the _OLD directory
_OLD/**
.archive/
.archive/**
.launcher_state.json
.money_manager_launcher_config.json
*.spec

.launcher_browser_profile/

.money_manager_project_path.txt
